<!--
  @名   称 : index
  @作   者 : admin
  @创建时间 : 2018/3/2 9:34
  @描   述 :
 -->

<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>业主</title>



    <link href="/resources/mcep-admin/plugins/bootstrap-3.3.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/resources/mcep-admin/plugins/material-design-iconic-font-2.2.0/css/material-design-iconic-font.min.css" rel="stylesheet"/>
    <link href="/resources/mcep-admin/plugins/bootstrap-table-1.11.0/bootstrap-table.min.css" rel="stylesheet"/>
    <link href="/resources/mcep-admin/plugins/waves-0.7.5/waves.min.css" rel="stylesheet"/>
    <link href="/resources/mcep-admin/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet"/>
    <link href="/resources/mcep-admin/plugins/jquery-confirm/jquery-confirm.min.css" rel="stylesheet"/>
    <link href="/resources/mcep-admin/plugins/select2/css/select2.min.css" rel="stylesheet"/>
    <link href="/resources/mcep-admin/plugins/select2/theme/select2-bootstrap.min.css" rel="stylesheet"/>
    <link href="/resources/mcep-admin/plugins/zTree_v3/css/zTreeStyle/zTreeStyle.css" rel="stylesheet"/>
    <link href="/resources/common/plugins/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
    <link href="/resources/mcep-admin/plugins/webuploader-0.1.5/webuploader.css" rel="stylesheet"/>
    <link href="/resources/mcep-admin/css/common.css" rel="stylesheet"/>


    <style type="text/css">
        #queryTable{
            width:100%;
        }
        #queryTable td{
            text-align: right;
            padding-top:5px;
            padding-right:15px;
        }
        #queryTable td label{
            line-height:10px;
        }
    </style>
</head>
<body>


<div id="main">
    <div id="toolbar">
        <a shiro:hasPermission ="ted:demo:create" class="btn btn-default" href="javascript:;" onclick="createAction()"><i class="zmdi zmdi-plus"></i> 新增</a>
        <a shiro:hasPermission ="ted:demo:update" class="btn btn-default" href="javascript:;" onclick="updateAction()"><i class="zmdi zmdi-edit"></i> 修改</a>
        <a shiro:hasPermission ="ted:demo:view" class="btn btn-default" href="javascript:;" onclick="viewAction()"><i class="zmdi zmdi-edit"></i> 浏览</a>
    </div>
    <table id="table"></table>
</div>

<script src="/resources/mcep-admin/plugins/jquery.1.12.4.min.js"></script>
<script src="/resources/mcep-admin/plugins/bootstrap-3.3.0/js/bootstrap.min.js"></script>
<script src="/resources/mcep-admin/plugins/bootstrap-table-1.11.0/bootstrap-table.min.js"></script>
<script src="/resources/mcep-admin/plugins/bootstrap-table-1.11.0/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/resources/mcep-admin/plugins/waves-0.7.5/waves.min.js"></script>
<script src="/resources/mcep-admin/plugins/jquery-confirm/jquery-confirm.min.js"></script>
<script src="/resources/mcep-admin/plugins/select2/js/select2.min.js"></script>
<script src="/resources/mcep-admin/plugins/webuploader-0.1.5/webuploader.min.js"></script>
<script src="/resources/mcep-admin/plugins/zTree_v3/js/jquery.ztree.all.min.js"></script>
<script src="/resources/mcep-admin/js/common.js"></script>
<script src="/resources/common/js/Mcep.js"></script>
<!--时间控件js-->
<script src="/resources/common/plugins/datetimepicker/bootstrap-datetimepicker.js"></script>

<script src="/resources/common/js/demo/demo.js"></script>
<script>

</script>

</body>
</html>